/* TO DO: Add styling to the timer (should be at the top left corner of page in a container /div/ with a border and rounded radius) 
Also, style the box where the user puts their initials and sees their high score*/

:root {
    --charcoal: #353a47;
    --cambridge-blue: #84b082;
    --rose-taupe: #885a5a;
    --dogwood-rose: #dc136c;
    --tea-rose: #f7c1bb;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: var(--charcoal);
}

.container {
    background-color: var(--tea-rose);
    width: 85%;
    max-width: 650px;
    margin: 110px auto 0;
    border-radius: 15px;
    padding: 35px;
}

.container h1 {
    font-size: 36px;
    color: var(--dogwood-rose);
    font-weight: 650;
    border-bottom: 2px solid var(--rose-taupe);
    padding-bottom: 15px;
}

.quiz {
    padding: 25px 0;
}

.quiz h2 {
    font-size: 24px;
    color: var(--dogwood-rose);
    font-weight: 550;
}

.btn {
    background-color: var(--charcoal);
    color: var(--dogwood-rose);
    font-size: 18px;
    font-weight: 250;
    width: 100%;
    border: 1px solid var(--rose-taupe);
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover:not([disabled]) {
    background-color: var(--rose-taupe);
    color: var(--tea-rose);
}

.btn:disabled {
    cursor: none;
}

#next-btn {
    background-color: #84b082;
    color: var(--charcoal);
    font-weight: 550;
    width: 200px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

.correct {
    background-color: #84b082;
    color: var(--charcoal);
}

.incorrect {
    background-color: var(--dogwood-rose);
    color: var(--tea-rose);
}

#score {
    font-size: 18px;
    color: var(--dogwood-rose);
    font-weight: 550;
    text-align: center;
    margin: 20px 0;
}


/* Code for basic quiz setup from https: //www.youtube.com/watch?v=PBcqGxrr9g8 */
